h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125.02%;
  color: #273255;
  margin-bottom: 10px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125.02%;
  color: #273255;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #273255;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #3A3B3D;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #7C839E;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container hr {
  display: block;
  width: 95%;
  border: 0.5px solid #EAEAEA;
  border-radius: 15px;
}

.Header1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  color: #3A3B3D;
  margin-bottom: 15px;
  order: 1;
}

.Header4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 15px;
  color: #008CFF;
}

.Header3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #273255;
  margin-right: 15px;
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background: #EBEEF5;
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #008CFF;
  order: 2;
}

.HelpBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 162px;
  gap: 10px;
  width: 338.5px;
  height: 50px;
  left: 16.43px;
  top: 319.99px;
  background: #008CFF;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 121.52%;
  color: #FFFFFF;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.card {
  background: white;
  box-shadow: 0px 4px 10px 1px rgba(18, 18, 18, 0.1);
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.line4 {
  width: 663px;
  height: 0px;
  left: 21.4px;
  top: 401.3px;
  border: 0.8px solid #D9D9D9;
}

.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #757B93;
}

.student {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  background: transparent;
}

.profile {
  width: 55.82px;
  height: 55.58px;
  left: 311.15px;
  top: 97.26px;
  transform: matrix(1, 0.06, -0.06, 1, 0, 0);
}

.selection {
  width: 100%;
}

.selection label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  color: #757B93;
}

.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 28px;
  color: #757B93;
  margin: 0 20px;
}

.showAll {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #757B93;
  width: 100%;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 1.3rem;
}

.student {
  display: flex;
  flex-direction: row;
  background-color: pink;
  align-items: center;
  padding: 1rem 0.5rem;
  background: transparent;
}

.number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 28px;
  color: #757B93;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=SQueue.module.css.map */