@use "../../App";

body {
  @include App.body;
}

.container {
  background-color: App.$backGround;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  align-items: center;
}

.AddContainer {
  width: 145px;
  position: fixed;
  bottom: 30px;
}