

.title {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid #FFFFFF;
  backdrop-filter: blur(50px);
}

.button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  cursor: pointer;

  background: transparent;
  // text-decoration: none;
  border: none;
  color: #008CFF;

}


@media (min-width: 768px) {
  .coursesListContainer{
      margin: 6rem 3rem;
  }
  .select {
      width: 100%;
  }
}