h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125.02%;
  color: #273255;
  margin-bottom: 10px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125.02%;
  color: #273255;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #273255;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #3A3B3D;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #7C839E;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinQueue {
  margin: 1rem 14rem;
}

.header {
  margin-bottom: 20px;
  padding: 1rem 2rem;
  justify-content: center;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px rgba(191, 191, 191, 0.27);
}
.header h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #3A3B3D;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}

.circle {
  width: 50px;
  height: 50px;
  background: pink;
  margin-left: 1rem;
  opacity: 0;
}

.input {
  background: #FFFFFF;
  border: 0.9px solid #C2C2C2;
  border-radius: 7px;
  color: #5b5b5b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 1rem;
  width: 95%;
  margin: 10px 0;
}

.select {
  background: #FFFFFF;
  border: 0.9px solid #C2C2C2;
  border-radius: 7px;
  color: #5b5b5b;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 0.5rem;
  margin: 10px 0;
  min-width: 10rem;
  text-align: center;
}

.submitBtn {
  background: #606783;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 1.3rem 4rem;
  color: white;
  margin: 0 2rem 5rem 2rem;
  cursor: pointer;
}

#form:valid .input {
  background: green;
}

@media (max-width: 768px) {
  .joinQueue {
    margin: 1rem 3rem;
  }
  .select {
    width: 100%;
  }
  .headerContainer {
    width: 100%;
  }
}
::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C2C2C2;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C2C2C2;
  opacity: 1;
  /* Firefox */
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C2C2C2;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C2C2C2;
}

.selection {
  margin: 1rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #464646;
  width: 100%;
}

.required {
  color: #008CFF;
}

.inputBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unClicked {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding: 15px;
  margin: 10px;
  background: #E5EBF9;
  border-radius: 20px;
  border: none;
  color: #4B4B4B;
  cursor: pointer;
}
.unClicked input {
  position: absolute;
  opacity: 0;
}

.Clicked {
  background: #008CFF;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  color: white;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}
.Clicked input {
  position: absolute;
  opacity: 0;
}/*# sourceMappingURL=joinQueue.module.css.map */