@use "../../../App.scss";

body {
    @include App.body;
}

.Subtitle {
    @include App.Subtitle;
    color: App.$blue;
}

.Header3 {
    @include App.Header3;
    color: App.$blue;
    margin-bottom: 14px;
}

.BodyNormal {
    @include App.BodyNormal;
    color: App.$darkGray;
}

.BodySmall {
    @include App.BodySmall;
    color: App.$lightGray;
}