

.courseContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 10px 0;
  height: 95.27px;
  width: 100%;
  

  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
    
    .descriptionContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }


}

