@use "../../App";

body {
  @include App.body;
}

.header2 {
  @include App.Header2;
  color: App.$TextPrimary;
}

.coursesListContainer {
  display: flex;
  flex-direction: column;
  margin: 9rem 14%;
}

.coursesContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 950px) {
  .coursesListContainer {
    margin: 6rem 6%;
  }
}

@media (max-width: 768px) {
  .coursesListContainer{
      margin: 7.5rem 6%;
  }
  .select {
      width: 100%;
  }
}