$backGround: #EBEEF5;

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    background: $backGround;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

.header {
    background: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #FFFFFF;
    backdrop-filter: blur(50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 1rem;
    margin-top: 2rem;
    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 130%;
        color: #273255;
        margin-bottom: 5px;
    }
    
    h5 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #273255;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.context {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 3rem;
    height: auto;

    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 130%;
        color: #273255;
        margin-bottom: 10px;
        text-align: center;
    }

}

.illustration {
    width: 300px;
    height: 200px;
    background-color: pink;
}

.btn {
    background: #008CFF;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 121.52%;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
    .title {
        margin-left: 2rem;
    }
    .header {
        align-items: unset;
    }
}