h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125.02%;
  color: #273255;
  margin-bottom: 10px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125.02%;
  color: #273255;
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
  color: #273255;
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: #3A3B3D;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #7C839E;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
body a {
  color: inherit;
  text-decoration: none;
}

.container {
  background: #FCFCFF;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(75.03deg, #4678F3 34.41%, #58ABFC 79.58%, #61C0DE 112.48%);
}

.header {
  margin-bottom: 20px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  display: flex;
  width: 100%;
}
.header h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 121.52%;
  color: #FFFFFF;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.card {
  background: #FCFCFF;
  border: 4px solid #FFFFFF;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 50%;
  text-align: center;
  padding: 3rem 1rem;
}

.Header1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 130%;
  color: #3A3B3D;
  color: #464646;
}

.ClassCode {
  width: 30%;
  text-align: center;
  margin: 1rem;
  color: pink;
  opacity: 0.6;
  border: 2px solid #80C5FF;
  border-radius: 30px;
  color: #454D6B;
  padding: 1rem;
}

.input {
  background: #FFFFFF;
  border: 0.9px solid #C2C2C2;
  border-radius: 7px;
  padding: 1rem;
  width: 95%;
  margin: 10px 0;
}

::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  opacity: 1;
  color: #454D6B;
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  opacity: 1;
  color: #454D6B;
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  opacity: 1;
  color: #454D6B;
}

:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  opacity: 1;
  color: #454D6B;
}

::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  opacity: 1;
  color: #454D6B;
}

.Subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3A3B3D;
  color: #008CFF;
  margin-top: 10px;
  background: #F5F8FF;
  border-radius: 25px;
  padding: 10px 15px;
}

.btn {
  background-color: #008CFF;
  border-radius: 30px;
  padding: 15px 20px;
  width: 40%;
  margin: 1rem;
  margin-top: 3rem;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 121.52%;
  color: #3A3B3D;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .header {
    width: 90%;
  }
  .headerContainer {
    width: 100%;
  }
  .ClassCode {
    width: 50%;
  }
  .card {
    width: 80%;
  }
}/*# sourceMappingURL=enroll.module.css.map */